<!DOCTYPE html>
<html>
<body>

<h4>Example</h4>

<li><a href="/"> index </a></li>

<li><a href="/html"> HTML </a></li>
<li><a href="/template"> Template </a></li>
<li><a href="/json"> json </a></li>
<li><a href="/static/gopher.png"> Static Server </a></li>

<li><a href="/setCookie"> Set Cookie </a></li>
<li><a href="/cookie"> Cookie </a></li>

</body>
</html>
